*{
  margin: 0;
  padding: 0;
  box-sizing:border border-box;
}
body{
  background-color: red;
}
.member__heading{
  font-size: 35px;
  color: blue;
  margin: 50px;
}
.member__text{
  background-color: blue;
}
.member__label{
  font-size: 20px;
  margin: 50px;
  color: blue;
}
